.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.edit-form {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  background-color: #fffef4;
}

.edit-form form > div {
  margin-bottom: 1rem;
}

.edit-form input,
.edit-form textarea {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.form-checkbox {
  display: flex;
}

.edit-button {
  all: unset;
  color: red;
  cursor: pointer;
  text-decoration: none;
}

.edit-button:hover {
  text-decoration: underline;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-row label {
  width: 100px;
  margin-right: 1rem;
  text-align: left;
}

.form-row input,
.form-row textarea {
  flex: 1;
}

.button-container {
  display: flex;
  justify-content: center;
}
